@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.left-exp-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #18191E;
  right: -15px;
}
.left-exp {
  left: 0;
}

.right-exp {
  left: 50%;
}

.left-logo {
  right: -1.25rem;
}

.right-logo {
  left: -1.25rem;
}

.right-exp-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #18191E;
  left: -15px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and (max-width: 768px) {
  .right-exp {
    left: 0px
  }

  .left-logo, .right-logo {
    left: 0px;
  }

  .left-exp-arrow, .right-exp-arrow {
    border-right: 15px solid #18191E;
    border-left: 0px;
    left: -15px;
  }
}
